<a href="https://colab.research.google.com/github/davefrosh1/hamoye/blob/main/energy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
dt='/content/drive/MyDrive/energydata_complete.csv'

In [2]:
import pandas as pd
import numpy as np

In [3]:
dt=pd.read_csv(dt)

In [4]:
dt.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [5]:
dt=dt.drop(['date','lights'],axis=1)

In [6]:
dt.head()

   Appliances     T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.89  47.596667  ...        5.3  13.275433  13.275433
1          60  19.89  46.693333  ...        5.2  18.606195  18.606195
2          50  19.89  46.300000  ...        5.1  28.642668  28.642668
3          50  19.89  46.066667  ...        5.0  45.410389  45.410389
4          60  19.89  46.333333  ...        4.9  10.084097  10.084097

[5 rows x 27 columns]

In [7]:
X=dt.drop('Appliances',axis=1)
y=dt['Appliances']

In [8]:
X.head()

      T1       RH_1    T2  ...  Tdewpoint        rv1        rv2
0  19.89  47.596667  19.2  ...        5.3  13.275433  13.275433
1  19.89  46.693333  19.2  ...        5.2  18.606195  18.606195
2  19.89  46.300000  19.2  ...        5.1  28.642668  28.642668
3  19.89  46.066667  19.2  ...        5.0  45.410389  45.410389
4  19.89  46.333333  19.2  ...        4.9  10.084097  10.084097

[5 rows x 26 columns]

In [9]:
from sklearn.linear_model import LinearRegression

In [37]:
from sklearn.preprocessing import MinMaxScaler
ms=MinMaxScaler()
x1=ms.fit_transform(x)
o1=ms.fit_transform(o)

In [34]:
x=X['T2']
o=X['T6']
x=pd.DataFrame(x)
o=pd.DataFrame(o)

In [39]:
lr=LinearRegression()

In [31]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [40]:
from sklearn.model_selection import train_test_split

In [61]:
X_train, X_test, y_train, y_test = train_test_split(x1, o1, test_size=0.30, random_state=42)

In [42]:
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [43]:
p=lr.predict(X_test)

In [44]:
r2_score(p,y_test)

0.4447218070299236

In [45]:
mean_absolute_error(p,y_test)

0.08216970202681717

In [46]:
res=np.sum(np.square(y_test-p))

In [47]:
res

66.11557915292725

In [48]:
np.sqrt(mean_squared_error(y_test,p))

0.10567064851347532

In [51]:
def get_weights_df(model, feat, col_name) :
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = [ 'Features' , col_name]
  weights_df[col_name].round( 3 )
  return weights_df

In [57]:
lr2.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [56]:
lr2=LinearRegression()

In [58]:
linear_model_weights = get_weights_df(lr2, X, 'Lm' )

In [59]:
linear_model_weights

       Features         Lm
0            T9 -22.090217
1            T2 -20.306635
2          RH_2 -14.413726
3         T_out -10.640343
4          RH_8  -5.904544
5          RH_7  -1.841887
6          RH_9  -1.504839
7        RH_out  -0.910468
8           rv1  -0.020481
9           rv2  -0.020481
10           T5  -0.020042
11  Press_mm_hg   0.123219
12   Visibility   0.175815
13         RH_5   0.238143
14         RH_6   0.347288
15           T1   0.390038
16           T7   1.128467
17         RH_4   1.949084
18    Windspeed   2.128947
19           T4   2.980961
20         RH_3   5.048844
21    Tdewpoint   5.076262
22           T6   7.659537
23           T8  10.151264
24         RH_1  16.069748
25           T3  25.374831

In [64]:
from sklearn.linear_model import Ridge,Lasso
ri=Ridge(alpha=0.4)

In [62]:
ri.fit(X_train,y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [63]:
ik=ri.predict(X_test)
np.sqrt(mean_squared_error(y_test,ik))

0.10567068865045522

In [66]:
lo=Lasso(alpha=0.001)
lo.fit(X,y)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5830023.19478187, tolerance: 20743.104364834064
  positive)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [67]:
lasso_weights = get_weights_df(lo, X, 'Lo1' )

In [68]:
lasso_weights

       Features           Lo1
0            T9 -2.208368e+01
1            T2 -2.029148e+01
2          RH_2 -1.440757e+01
3         T_out -1.062576e+01
4          RH_8 -5.904888e+00
5          RH_7 -1.841115e+00
6          RH_9 -1.504595e+00
7        RH_out -9.082007e-01
8           rv1 -4.095872e-02
9            T5 -1.914255e-02
10          rv2 -1.124252e-16
11  Press_mm_hg  1.232597e-01
12   Visibility  1.757714e-01
13         RH_5  2.381193e-01
14         RH_6  3.471321e-01
15           T1  3.791327e-01
16           T7  1.123031e+00
17         RH_4  1.947165e+00
18    Windspeed  2.129367e+00
19           T4  2.977626e+00
20         RH_3  5.047660e+00
21    Tdewpoint  5.064266e+00
22           T6  7.655170e+00
23           T8  1.015121e+01
24         RH_1  1.606668e+01
25           T3  2.537277e+01

In [69]:
lo.fit(X_train,y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [70]:
am=lo.predict(X_test)
np.sqrt(mean_squared_error(y_test,am))

0.10585233765426631

In [71]:
X.isnull().sum()

T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64