<a href="https://colab.research.google.com/github/davefrosh1/hamoye/blob/main/hamo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dt='/content/drive/MyDrive/fuel_ferc1.csv'

In [3]:
dt=pd.read_csv(dt)

In [4]:
dt.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [5]:
dt.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [6]:
np.std(dt['fuel_mmbtu_per_unit'])

10.600040781504145

In [7]:
dt['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [8]:
dt['fuel_qty_burned'].skew()

15.851495469109503

In [9]:
dt['fuel_qty_burned'].kurt()

651.3694501337732

In [10]:
dt.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [11]:
dt['fuel_unit'].isnull().sum()/len(dt)

0.00609694136774718

In [12]:
dt['fuel_unit'].unique()

array(['ton', 'mcf', 'kgU', 'bbl', 'gramsU', nan, 'mwdth', 'mmbtu',
       'mwhth', 'gal'], dtype=object)

In [13]:
dt.groupby('report_year')['fuel_cost_per_unit_burned'].sum()

report_year
1994    263292.115
1995    425661.488
1996     86425.275
1997    163533.452
1998    140238.656
1999    126056.285
2000    326495.434
2001    180365.641
2002    121921.135
2003    149175.726
2004    184637.699
2005    135924.139
2006    188142.032
2007    256114.312
2008    314312.022
2009    263584.566
2010    331581.467
2011    374175.603
2012    321693.544
2013    306933.236
2014    518002.469
2015    260060.984
2016    255484.814
2017    244557.823
2018    221575.426
Name: fuel_cost_per_unit_burned, dtype: float64

In [14]:
dt.groupby('report_year')['fuel_cost_per_unit_delivered'].sum()

report_year
1994    7.859053e+04
1995    3.931506e+04
1996    1.000602e+07
1997    1.218738e+07
1998    3.178799e+05
1999    2.682921e+04
2000    1.352903e+06
2001    8.142834e+04
2002    5.735121e+04
2003    6.740849e+04
2004    1.663129e+05
2005    5.258506e+04
2006    4.805125e+04
2007    5.476283e+04
2008    7.194631e+04
2009    7.975923e+05
2010    1.158381e+05
2011    7.412059e+04
2012    7.581617e+04
2013    2.065968e+05
2014    2.256952e+05
2015    3.569033e+05
2016    1.074344e+05
2017    4.587348e+04
2018    4.748057e+05
Name: fuel_cost_per_unit_delivered, dtype: float64