In [ ]:
less='/content/drive/MyDrive/ch.csv'

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
hm='/content/drive/MyDrive/Gd.csv'

In [ ]:
less=pd.read_csv(less)
hm=pd.read_csv(hm)

In [ ]:
less.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28007 entries, 0 to 28006
Columns: 102 entries, Deposit to Occupation_Driver/Motorbike Rider
dtypes: float64(15), int64(87)
memory usage: 21.8 MB

In [ ]:
less.head()

   Deposit  UpsellDate  ...  Occupation_Labourer  Occupation_Driver/Motorbike Rider
0     2500           0  ...                    0                                  0
1     2500           0  ...                    0                                  0
2     2400           0  ...                    0                                  0
3     2000           0  ...                    0                                  0
4     2000           0  ...                    0                                  0

[5 rows x 102 columns]

In [ ]:
y=hm[['m1','m2','m3','m4','m5','m6']]
less=less[['Deposit', 'RatePerUnit', 'DaysOnDeposit', 'Term', 'TotalContractValue',
        'l1', 'l2', 'l3', 'l4', 'l5', 'Max_Payment_hist',
       'Min_Payment_hist', 'Median_Payment_hist', 'Sum_of_Payment_hist',
       'Left_over_in_contract', 'Over_contr_dura', 'Mean_Payment_hist',
       'Reg_date_year', 'Reg_date_quarter', 'Reg_date_year_month',
       'Reg_date_week', 'Expe_term_year', 'last_pay_year',
       'rateTypeEntity_DAILY','last_pay_week', 'MainApplicantGender_Male','PaymentMethod','SupplierName']]

In [ ]:
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.kernel_ridge import KernelRidge
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.metrics import mean_squared_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import RepeatedKFold
from sklearn.ensemble import RandomForestRegressor,ExtraTreesRegressor
from sklearn.svm import SVR
from sklearn.neural_network import MLPRegressor

**RANDOM FOREST

In [ ]:
pip install mlxtend

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (0.22.2.post1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.2.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.4.7)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.0.1)

In [ ]:
!pip install catboost

Requirement already satisfied: catboost in /usr/local/lib/python3.7/dist-packages (0.26.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)

In [ ]:
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [ ]:
from mlxtend.regressor import StackingRegressor
from catboost import CatBoostRegressor

PRE1

In [ ]:
ex1=ExtraTreesRegressor()
rf1=RandomForestRegressor()
reg_stack = StackingRegressor(regressors=[lg1,ml1,his1,ex1,rf1], meta_regressor =rf1,use_features_in_secondary = True)

In [ ]:
model_stack = reg_stack.fit(X_train, y_train)
pred_stack = model_stack.predict(X_test)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(less, y['m1'], test_size=0.40, random_state=42)

In [ ]:
ml1=MLPRegressor()
lg1=LGBMRegressor()
his1=HistGradientBoostingRegressor(l2_regularization=0.6, learning_rate=0.05,
                              loss='least_squares', max_bins=255,
                              max_depth=None, max_iter=100, max_leaf_nodes=31,
                              min_samples_leaf=20, n_iter_no_change=None,
                              random_state=None, scoring=None, tol=1e-07,
                              validation_fraction=0.1, verbose=0,
                              warm_start=False)

In [ ]:
np.sqrt(mean_squared_error(pred_stack,y_test))

462.60145772607257

In [ ]:
less['f1']=y['m1']

PRE2

In [ ]:
!pip install lightgbm

Requirement already satisfied: lightgbm in /usr/local/lib/python3.7/dist-packages (2.2.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from lightgbm) (0.22.2.post1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightgbm) (1.0.1)

In [ ]:
from lightgbm import LGBMRegressor

In [ ]:
ca=CatBoostRegressor(loss_function='RMSE', verbose=0)
rf2=RandomForestRegressor()
li1=Lasso()
ex2=ExtraTreesRegressor()
reg_stack1 = StackingRegressor(regressors=[ex2,rf2,ca], meta_regressor =lg2,use_features_in_secondary = True)

In [ ]:
ml2=MLPRegressor()
lg2=LGBMRegressor()
his2=HistGradientBoostingRegressor()

In [ ]:
model_stack1= reg_stack1.fit(X_train, y_train)
pred_stack1= model_stack1.predict(X_test)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(less, y['m2'], test_size=0.40, random_state=42)

In [ ]:
np.sqrt(mean_squared_error(pred_stack1,y_test))

966.046741597674

In [ ]:
np.sqrt(mean_squared_error(o,y_test))

967.3800498566997

In [ ]:
less['f2']=y['m2']

PRE3

In [ ]:
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingRegressor

In [ ]:
ml3=MLPRegressor()
lg3=LGBMRegressor()
his3=HistGradientBoostingRegressor(l2_regularization=0.6, learning_rate=0.1,
                              loss='least_squares', max_bins=255,
                              max_depth=None, max_iter=100, max_leaf_nodes=31,
                              min_samples_leaf=20, n_iter_no_change=None,
                              random_state=None, scoring=None, tol=1e-07,
                              validation_fraction=0.1, verbose=0,
                              warm_start=False)

In [ ]:
rf3=RandomForestRegressor()
li2=Lasso()
ex3=ExtraTreesRegressor()
reg_stack2 = StackingRegressor(regressors=[rf3,ex3,his3,li2], meta_regressor=ex3,use_features_in_secondary = True)

In [ ]:
model_stack2= reg_stack2.fit(X_train, y_train)
pred_stack2= model_stack2.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1029927716.9215362, tolerance: 667652.8914083487
  positive)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(less, y['m3'], test_size=0.40, random_state=42)

In [ ]:
np.sqrt(mean_squared_error(pred_stack2,y_test))

596.2417855919815

In [ ]:
lr=LinearRegression()

In [ ]:
less['f3']=y['m3']

PRE4

In [ ]:
ml4=MLPRegressor()
lg4=LGBMRegressor()
his4=HistGradientBoostingRegressor(l2_regularization=0.0, learning_rate=0.1,
                              loss='least_absolute_deviation', max_bins=255,
                              max_depth=None, max_iter=100, max_leaf_nodes=31,
                              min_samples_leaf=20, n_iter_no_change=None,
                              random_state=None, scoring=None, tol=1e-07,
                              validation_fraction=0.1, verbose=0,
                              warm_start=False)

In [ ]:
rf4=RandomForestRegressor()
li3=Lasso()
ex4=ExtraTreesRegressor()
reg_stack3 = StackingRegressor(regressors=[rf4,ex4,li3], meta_regressor=ex4,use_features_in_secondary = True)

In [ ]:
model_stack3= reg_stack3.fit(X_train, y_train)
pred_stack3= model_stack3.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 19289136.79259014, tolerance: 944384.0598425377
  positive)

In [ ]:
np.sqrt(mean_squared_error(pred_stack3,y_test))

429.92756421818115

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(less, y['m4'], test_size=0.40, random_state=42)

In [ ]:
np.sqrt(mean_squared_error(o,y_test))

430.75405035330715

In [ ]:
less['f4']=y['m4']

PRE5

In [ ]:
lg5=LGBMRegressor()
his5=HistGradientBoostingRegressor()
ml5=MLPRegressor()

In [ ]:
rf5=RandomForestRegressor()
li4=Lasso()
ex5=ExtraTreesRegressor()
reg_stack4= StackingRegressor(regressors=[rf5,ex5,his5], meta_regressor=lr,use_features_in_secondary = True)

In [ ]:
model_stack4= reg_stack4.fit(X_train, y_train)
pred_stack4= model_stack4.predict(X_test)

In [ ]:
np.sqrt(mean_squared_error(pred_stack4,y_test))

440.8317054419577

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(less, y['m5'], test_size=0.40, random_state=42)

In [ ]:
np.sqrt(mean_squared_error(o,y_test))

447.7728195365274

In [ ]:
less['f5']=y['m5']

In [ ]:
less.head()

   Deposit  RatePerUnit  DaysOnDeposit  Term  ...      f2      f3      f4      f5
0     2500           55              3   556  ...   930.0   495.0   715.0   220.0
1     2500           55              3   556  ...   935.0   935.0   825.0   770.0
2     2400           50              3   240  ...  1350.0  1550.0  1400.0  1450.0
3     2000           40              7   364  ...   480.0   800.0  1260.0  1650.0
4     2000           40              7   364  ...   440.0   460.0   360.0    80.0

[5 rows x 33 columns]

PRE6

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(less, y['m6'], test_size=0.40, random_state=42)

In [ ]:
his6=HistGradientBoostingRegressor()
ml6=MLPRegressor()
ca1=CatBoostRegressor(loss_function='RMSE', verbose=0)
lg6=LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.05, max_depth=30,
              min_child_samples=22, min_child_weight=0.01, min_split_gain=0.5,
              n_estimators=500, n_jobs=-1, num_leaves=20, objective=None,
              random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [ ]:
lr1=LinearRegression()
rf6=RandomForestRegressor()
li5=Lasso()
ex6=ExtraTreesRegressor()
reg_stack5= StackingRegressor(regressors=[rf6,ex6,his6,li5,lr1], meta_regressor=ca1,use_features_in_secondary = True)

In [ ]:
model_stack5= reg_stack5.fit(X_train, y_train)
pred_stack5= model_stack5.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4090220587.7871094, tolerance: 3492992.900234895
  positive)

In [ ]:
np.sqrt(mean_squared_error(pred_stack5,y_test))

1186.3324913776385

In [ ]:
np.sqrt(mean_squared_error(o,y_test))

1236.0193975870525

In [ ]:
test='/content/drive/MyDrive/am.csv'

In [ ]:
test=pd.read_csv(test)

In [ ]:
test.head()

   Deposit  RatePerUnit  DaysOnDeposit  ...  PaymentMethod  SupplierName        0
0     2000           35              7  ...              1             1   486.53
1     2000           35              7  ...              1             1  1078.44
2     2000           35              7  ...              1             1   290.25
3     2000           35              7  ...              1             1   470.04
4     2000           35              7  ...              1             1   732.24

[5 rows x 29 columns]

In [ ]:
test=test[['Deposit', 'RatePerUnit', 'DaysOnDeposit', 'Term', 'TotalContractValue',
        'l1', 'l2', 'l3', 'l4', 'l5', 'Max_Payment_hist',
       'Min_Payment_hist', 'Median_Payment_hist', 'Sum_of_Payment_hist',
       'Left_over_in_contract', 'Over_contr_dura', 'Mean_Payment_hist',
       'Reg_date_year', 'Reg_date_quarter', 'Reg_date_year_month',
       'Reg_date_week', 'Expe_term_year', 'last_pay_year',
       'rateTypeEntity_DAILY','last_pay_week', 'MainApplicantGender_Male','PaymentMethod','SupplierName']]

In [ ]:
pre=model_stack.predict(test)

In [ ]:
pre1=pd.DataFrame(pre)

In [ ]:
test=pd.concat([test,pre1],axis=1)

In [ ]:
test['f1']=test[0]

In [ ]:
test=test.drop(0,axis=1)

In [ ]:
pre=model_stack1.predict(test)

In [ ]:
pre2=pd.DataFrame(pre)

In [ ]:
test=pd.concat([test,pre2],axis=1)

In [ ]:
pre=model_stack2.predict(test)

In [ ]:
pre3=pd.DataFrame(pre)

In [ ]:
test=pd.concat([test,pre3],axis=1)

In [ ]:
pre=model_stack3.predict(test)

In [ ]:
pre4=pd.DataFrame(pre)

In [ ]:
test=pd.concat([test,pre4],axis=1)

In [ ]:
test.head()

   Deposit  RatePerUnit  DaysOnDeposit  ...            0        0       0
0     2000           35              7  ...   610.461849  1002.21  951.47
1     2000           35              7  ...  1049.888601  1036.22  984.51
2     2000           35              7  ...   410.844224   624.01  470.04
3     2000           35              7  ...   431.617292   474.27  632.27
4     2000           35              7  ...   819.649893   755.77  829.71

[5 rows x 32 columns]

In [ ]:
pre=model_stack4.predict(test)

In [ ]:
pre5=pd.DataFrame(pre)

In [ ]:
test=pd.concat([test,pre5],axis=1)

In [ ]:
pre=model_stack5.predict(test)

In [ ]:
pre6=pd.DataFrame(pre)

In [ ]:
test=pd.concat([test,pre6],axis=1)

In [ ]:
Preds=test.iloc[:,-6:]

In [ ]:
Preds.head()

        f1            0        0       0        0            0
0   486.53   610.461849  1002.21  951.47  1530.04  1197.576708
1  1078.44  1049.888601  1036.22  984.51  1098.61   686.993362
2   290.25   410.844224   624.01  470.04   765.60   664.083809
3   470.04   431.617292   474.27  632.27   533.85   536.467952
4   732.24   819.649893   755.77  829.71   634.68   553.356816

In [ ]:
Preds.columns=y.columns

In [ ]:
Preds.to_csv('omo_cl3.csv',index=False)