<a href="https://colab.research.google.com/github/davefrosh1/hamoye/blob/main/tensorflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf

**Pratice**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
isr= pd.read_csv('/content/drive/MyDrive/insurance.csv')

In [4]:
isr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
isr.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [6]:
isr['sex']=pd.get_dummies(isr['sex'],drop_first=True)

In [7]:
isr.tail()

      age  sex    bmi  children smoker     region     charges
1333   50    1  30.97         3     no  northwest  10600.5483
1334   18    0  31.92         0     no  northeast   2205.9808
1335   18    0  36.85         0     no  southeast   1629.8335
1336   21    0  25.80         0     no  southwest   2007.9450
1337   61    0  29.07         0    yes  northwest  29141.3603

In [8]:
isr['smoker'].value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In [9]:
isr['smoker']=pd.get_dummies(isr['smoker'],drop_first=True)

In [10]:
isr['region'].value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [11]:
isr1=pd.get_dummies(isr['region'],drop_first=True)

In [12]:
isr=pd.concat([isr,isr1], axis=1)

In [13]:
isr.drop('region', axis=1, inplace=True)

In [14]:
isr.head()

,age,sex,bmi,children,smoker,charges,northwest,southeast,southwest
0,19,0,27.900,0,1,16884.92400,0,0,1
1,18,1,33.770,1,0,1725.55230,0,1,0
2,28,1,33.000,3,0,4449.46200,0,1,0
3,33,1,22.705,0,0,21984.47061,1,0,0
4,32,1,28.880,0,0,3866.85520,1,0,0

In [15]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [16]:
X=isr.drop('charges',axis=1)
y=isr['charges']

In [17]:
y=pd.DataFrame(y)
y.head()

       charges
0  16884.92400
1   1725.55230
2   4449.46200
3  21984.47061
4   3866.85520

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [19]:
X.head()

   age  sex     bmi  children  smoker  northwest  southeast  southwest
0   19    0  27.900         0       1          0          0          1
1   18    1  33.770         1       0          0          1          0
2   28    1  33.000         3       0          0          1          0
3   33    1  22.705         0       0          1          0          0
4   32    1  28.880         0       0          1          0          0

In [20]:
y.head()

       charges
0  16884.92400
1   1725.55230
2   4449.46200
3  21984.47061
4   3866.85520

In [21]:
from sklearn.preprocessing import StandardScaler
sd=StandardScaler()
X_train_t=sd.fit_transform(X_train)
X_test_t=sd.fit_transform(X_test)

In [22]:
y_train_t=sd.fit_transform(y_train)
y_test_t=sd.fit_transform(y_test)

In [23]:
import keras

In [24]:
from keras.models import Sequential
from keras.layers import Dense

In [25]:
reg=Sequential()

In [26]:
reg.add(Dense(4,input_shape=(8,),kernel_initializer='uniform'))
reg.add(Dense(4))
reg.add(Dense(1))

In [27]:
reg.compile(loss='mse',optimizer='adam',metrics=['mae'])

In [28]:
reg.fit(X_train_t,y_train_t,epochs=100,batch_size=10)

Epoch 1/100
94/94 [==============================] - 1s 1ms/step - loss: 0.9027 - mae: 0.7126
Epoch 2/100
94/94 [==============================] - 0s 2ms/step - loss: 0.5844 - mae: 0.5711
Epoch 3/100
94/94 [==============================] - 0s 1ms/step - loss: 0.3142 - mae: 0.4028
Epoch 4/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2647 - mae: 0.3631
Epoch 5/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2620 - mae: 0.3585
Epoch 6/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2608 - mae: 0.3534
Epoch 7/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2622 - mae: 0.3564
Epoch 8/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2605 - mae: 0.3526
Epoch 9/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2625 - mae: 0.3567
Epoch 10/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2619 - mae: 0.3556
Epoch 11/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2617 - mae: 0.3554
Epoch 12/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2619 - mae: 0.3527
Epoch 13/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2629 - mae: 0.3576
Epoch 14/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2618 - mae: 0.3539
Epoch 15/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2634 - mae: 0.3586
Epoch 16/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2618 - mae: 0.3547
Epoch 17/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2612 - mae: 0.3506
Epoch 18/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2611 - mae: 0.3532
Epoch 19/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2615 - mae: 0.3579
Epoch 20/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2613 - mae: 0.3527
Epoch 21/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2616 - mae: 0.3571
Epoch 22/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2618 - mae: 0.3539
Epoch 23/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2616 - mae: 0.3512
Epoch 24/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2619 - mae: 0.3566
Epoch 25/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2627 - mae: 0.3563
Epoch 26/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2612 - mae: 0.3545
Epoch 27/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2612 - mae: 0.3515
Epoch 28/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2608 - mae: 0.3534
Epoch 29/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2608 - mae: 0.3559
Epoch 30/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2621 - mae: 0.3507
Epoch 31/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2619 - mae: 0.3584
Epoch 32/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2619 - mae: 0.3563
Epoch 33/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2619 - mae: 0.3546
Epoch 34/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2622 - mae: 0.3508
Epoch 35/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2631 - mae: 0.3609
Epoch 36/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2624 - mae: 0.3527
Epoch 37/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2621 - mae: 0.3531
Epoch 38/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2625 - mae: 0.3568
Epoch 39/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2613 - mae: 0.3521
Epoch 40/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2621 - mae: 0.3569
Epoch 41/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2623 - mae: 0.3564
Epoch 42/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2617 - mae: 0.3494
Epoch 43/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2619 - mae: 0.3564
Epoch 44/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2609 - mae: 0.3548
Epoch 45/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2614 - mae: 0.3533
Epoch 46/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2611 - mae: 0.3563
Epoch 47/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2617 - mae: 0.3518
Epoch 48/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2613 - mae: 0.3550
Epoch 49/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2625 - mae: 0.3530
Epoch 50/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2619 - mae: 0.3570
Epoch 51/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2621 - mae: 0.3540
Epoch 52/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2621 - mae: 0.3597
Epoch 53/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2616 - mae: 0.3522
Epoch 54/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2629 - mae: 0.3552
Epoch 55/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2602 - mae: 0.3490
Epoch 56/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2619 - mae: 0.3579
Epoch 57/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2617 - mae: 0.3550
Epoch 58/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2611 - mae: 0.3569
Epoch 59/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2619 - mae: 0.3508
Epoch 60/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2624 - mae: 0.3562
Epoch 61/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2609 - mae: 0.3561
Epoch 62/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2622 - mae: 0.3528
Epoch 63/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2616 - mae: 0.3538
Epoch 64/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2608 - mae: 0.3514
Epoch 65/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2623 - mae: 0.3549
Epoch 66/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2621 - mae: 0.3565
Epoch 67/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2617 - mae: 0.3571
Epoch 68/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2614 - mae: 0.3504
Epoch 69/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2632 - mae: 0.3605
Epoch 70/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2616 - mae: 0.3556
Epoch 71/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2609 - mae: 0.3505
Epoch 72/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2613 - mae: 0.3565
Epoch 73/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2607 - mae: 0.3565
Epoch 74/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2616 - mae: 0.3522
Epoch 75/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2612 - mae: 0.3517
Epoch 76/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2611 - mae: 0.3550
Epoch 77/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2636 - mae: 0.3558
Epoch 78/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2619 - mae: 0.3572
Epoch 79/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2610 - mae: 0.3535
Epoch 80/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2608 - mae: 0.3508
Epoch 81/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2654 - mae: 0.3593
Epoch 82/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2618 - mae: 0.3585
Epoch 83/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2612 - mae: 0.3516
Epoch 84/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2613 - mae: 0.3509
Epoch 85/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2618 - mae: 0.3604
Epoch 86/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2610 - mae: 0.3535
Epoch 87/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2625 - mae: 0.3526
Epoch 88/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2613 - mae: 0.3525
Epoch 89/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2608 - mae: 0.3525
Epoch 90/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2615 - mae: 0.3565
Epoch 91/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2613 - mae: 0.3571
Epoch 92/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2611 - mae: 0.3525
Epoch 93/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2609 - mae: 0.3522
Epoch 94/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2616 - mae: 0.3552
Epoch 95/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2609 - mae: 0.3525
Epoch 96/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2616 - mae: 0.3577
Epoch 97/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2605 - mae: 0.3492
Epoch 98/100
94/94 [==============================] - 0s 2ms/step - loss: 0.2610 - mae: 0.3567
Epoch 99/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2609 - mae: 0.3558
Epoch 100/100
94/94 [==============================] - 0s 1ms/step - loss: 0.2609 - mae: 0.3494

In [29]:
reg.evaluate(X_test_t,y_test_t)

13/13 [==============================] - 0s 2ms/step - loss: 0.2298 - mae: 0.3332

[0.22978010773658752, 0.3331688344478607]

In [30]:
reg.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 4)                 36

 dense_1 (Dense)             (None, 4)                 20

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 61
Trainable params: 61
Non-trainable params: 0
_________________________________________________________________

**Using Min Max scaler**

In [31]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MinMaxScaler,OneHotEncoder

In [32]:
ct=make_column_transformer((MinMaxScaler(),['age','bmi','children']),
                           (OneHotEncoder(handle_unknown='ignore'),['sex','smoker','region']))

In [33]:
cti=pd.read_csv('/content/drive/MyDrive/insurance.csv')

In [34]:
cti.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [35]:
X=cti.drop('charges',axis=1)
y=cti['charges']

In [36]:
 X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.30, random_state=39)

In [37]:
X_train_i=ct.fit_transform(X_train)
X_test_i=ct.transform(X_test)

In [48]:
ms=MinMaxScaler()

In [60]:
y_train_i=ms.fit_transform(y_train_i)
y_test_i=ms.fit_transform(y_test_i)

In [38]:
X_train_i=pd.DataFrame(X_train_i)
X_test_i=pd.DataFrame(X_test_i)

In [61]:
reg1=Sequential()

In [62]:
reg1.add(Dense(6,input_dim=11))
reg1.add(Dense(5))
reg1.add(Dense(5))
reg1.add(Dense(1))

In [63]:
reg1.compile(loss='mae',optimizer='adam',metrics=['mae'])
reg1.fit(X_train_i,y_train_i,epochs=100,batch_size=10)

Epoch 1/100
94/94 [==============================] - 1s 3ms/step - loss: 0.2071 - mae: 0.2071
Epoch 2/100
94/94 [==============================] - 0s 4ms/step - loss: 0.0967 - mae: 0.0967
Epoch 3/100
94/94 [==============================] - 0s 4ms/step - loss: 0.0616 - mae: 0.0616
Epoch 4/100
94/94 [==============================] - 0s 3ms/step - loss: 0.0607 - mae: 0.0607
Epoch 5/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0599 - mae: 0.0599
Epoch 6/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0596 - mae: 0.0596
Epoch 7/100
94/94 [==============================] - 0s 3ms/step - loss: 0.0593 - mae: 0.0593
Epoch 8/100
94/94 [==============================] - 0s 4ms/step - loss: 0.0589 - mae: 0.0589
Epoch 9/100
94/94 [==============================] - 0s 3ms/step - loss: 0.0593 - mae: 0.0593
Epoch 10/100
94/94 [==============================] - 0s 3ms/step - loss: 0.0592 - mae: 0.0592
Epoch 11/100
94/94 [==============================] - 0s 3ms/step - loss: 0.0588 - mae: 0.0588
Epoch 12/100
94/94 [==============================] - 0s 3ms/step - loss: 0.0589 - mae: 0.0589
Epoch 13/100
94/94 [==============================] - 0s 3ms/step - loss: 0.0583 - mae: 0.0583
Epoch 14/100
94/94 [==============================] - 0s 3ms/step - loss: 0.0591 - mae: 0.0591
Epoch 15/100
94/94 [==============================] - 0s 3ms/step - loss: 0.0580 - mae: 0.0580
Epoch 16/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0590 - mae: 0.0590
Epoch 17/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0588 - mae: 0.0588
Epoch 18/100
94/94 [==============================] - 0s 3ms/step - loss: 0.0582 - mae: 0.0582
Epoch 19/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0584 - mae: 0.0584
Epoch 20/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0580 - mae: 0.0580
Epoch 21/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0578 - mae: 0.0578
Epoch 22/100
94/94 [==============================] - 0s 3ms/step - loss: 0.0581 - mae: 0.0581
Epoch 23/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0585 - mae: 0.0585
Epoch 24/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0579 - mae: 0.0579
Epoch 25/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0584 - mae: 0.0584
Epoch 26/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0579 - mae: 0.0579
Epoch 27/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0586 - mae: 0.0586
Epoch 28/100
94/94 [==============================] - 0s 1ms/step - loss: 0.0585 - mae: 0.0585
Epoch 29/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0582 - mae: 0.0582
Epoch 30/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0579 - mae: 0.0579
Epoch 31/100
94/94 [==============================] - 0s 1ms/step - loss: 0.0580 - mae: 0.0580
Epoch 32/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0581 - mae: 0.0581
Epoch 33/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0591 - mae: 0.0591
Epoch 34/100
94/94 [==============================] - 0s 1ms/step - loss: 0.0588 - mae: 0.0588
Epoch 35/100
94/94 [==============================] - 0s 1ms/step - loss: 0.0576 - mae: 0.0576
Epoch 36/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0579 - mae: 0.0579
Epoch 37/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0583 - mae: 0.0583
Epoch 38/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0582 - mae: 0.0582
Epoch 39/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0583 - mae: 0.0583
Epoch 40/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0579 - mae: 0.0579
Epoch 41/100
94/94 [==============================] - 0s 1ms/step - loss: 0.0582 - mae: 0.0582
Epoch 42/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0583 - mae: 0.0583
Epoch 43/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0581 - mae: 0.0581
Epoch 44/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0585 - mae: 0.0585
Epoch 45/100
94/94 [==============================] - 0s 1ms/step - loss: 0.0583 - mae: 0.0583
Epoch 46/100
94/94 [==============================] - 0s 1ms/step - loss: 0.0582 - mae: 0.0582
Epoch 47/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0588 - mae: 0.0588
Epoch 48/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0578 - mae: 0.0578
Epoch 49/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0589 - mae: 0.0589
Epoch 50/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0582 - mae: 0.0582
Epoch 51/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0580 - mae: 0.0580
Epoch 52/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0580 - mae: 0.0580
Epoch 53/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0583 - mae: 0.0583
Epoch 54/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0581 - mae: 0.0581
Epoch 55/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0581 - mae: 0.0581
Epoch 56/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0581 - mae: 0.0581
Epoch 57/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0579 - mae: 0.0579
Epoch 58/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0579 - mae: 0.0579
Epoch 59/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0581 - mae: 0.0581
Epoch 60/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0580 - mae: 0.0580
Epoch 61/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0579 - mae: 0.0579
Epoch 62/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0582 - mae: 0.0582
Epoch 63/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0584 - mae: 0.0584
Epoch 64/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0577 - mae: 0.0577
Epoch 65/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0576 - mae: 0.0576
Epoch 66/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0578 - mae: 0.0578
Epoch 67/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0576 - mae: 0.0576
Epoch 68/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0576 - mae: 0.0576
Epoch 69/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0578 - mae: 0.0578
Epoch 70/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0582 - mae: 0.0582
Epoch 71/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0585 - mae: 0.0585
Epoch 72/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0580 - mae: 0.0580
Epoch 73/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0579 - mae: 0.0579
Epoch 74/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0578 - mae: 0.0578
Epoch 75/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0574 - mae: 0.0574
Epoch 76/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0580 - mae: 0.0580
Epoch 77/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0579 - mae: 0.0579
Epoch 78/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0586 - mae: 0.0586
Epoch 79/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0579 - mae: 0.0579
Epoch 80/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0576 - mae: 0.0576
Epoch 81/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0580 - mae: 0.0580
Epoch 82/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0580 - mae: 0.0580
Epoch 83/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0578 - mae: 0.0578
Epoch 84/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0582 - mae: 0.0582
Epoch 85/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0578 - mae: 0.0578
Epoch 86/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0585 - mae: 0.0585
Epoch 87/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0581 - mae: 0.0581
Epoch 88/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0585 - mae: 0.0585
Epoch 89/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0584 - mae: 0.0584
Epoch 90/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0583 - mae: 0.0583
Epoch 91/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0579 - mae: 0.0579
Epoch 92/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0577 - mae: 0.0577
Epoch 93/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0588 - mae: 0.0588
Epoch 94/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0579 - mae: 0.0579
Epoch 95/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0580 - mae: 0.0580
Epoch 96/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0580 - mae: 0.0580
Epoch 97/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0585 - mae: 0.0585
Epoch 98/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0581 - mae: 0.0581
Epoch 99/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0575 - mae: 0.0575
Epoch 100/100
94/94 [==============================] - 0s 2ms/step - loss: 0.0573 - mae: 0.0573

In [64]:
reg1.evaluate(X_test_i,y_test_i)

13/13 [==============================] - 0s 2ms/step - loss: 0.0546 - mae: 0.0546

[0.05457662045955658, 0.05457662045955658]